		<div style="display: %display-notes%">
			<h3>Notes</h3>
			<p>
				<textarea name="notes" style="width: 65%; height: 12em;">%notes%</textarea>
			</p>
		</div>

		<p>
			<input name="page" type="hidden" value="%page%" />
			<input name="action" type="hidden" value="%action%" />
			<input name="id" type="hidden" value="%id%" />
			<input type="submit" name="submit" id="submit" class="button button-primary" value="%label%">
			%sendit%
			&nbsp;&nbsp;&nbsp;
			<a href="?page=%page%">Cancel</a>
		</p>