		<style type="text/css">
			table.product { border-bottom: 1px solid #ccc; margin-top: 20px; }
			table.product img { width: 50px !important; height: auto !important; }
			table.product td { vertical-align: middle; }
			table.product-total { margin-top: 20px;  font-weight: bold; border-bottom: 1px solid #ccc; }
			table.product-total td { font-size: 24px; color: #e14d43; }
		</style>
		<h3>Overview</h3>
		<table class="wp-list-table widefat fixed">

			<tr>
				<th scope="col">Reference</th>
				<th scope="col">Date</th>
				<th scope="col">Type</th>
				<th scope="col">Status</th>
			</tr>

			<tr>
				<td><strong>%reference%</strong></td>
				<td>%date%</td>
				<td>%type%</td>
				<td>%status%</td>
			</tr>
		</table>