	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="margin-top: 40px;">
	<tr>
		<td align="center">
			<table width="640" cellpadding="0" cellspacing="0" border="0" align="center" style="border:2px dashed #ddd; padding:25px; border-bottom: none;">
				<tr>
					<td colspan="3" height="20">&nbsp;</td>
				</tr>
				<tr>
					<td width="20">&nbsp;</td>
					<td width="600"><img src="%still_voucher_header%" width="100%" style="display: block; max-width:100%"></td>
					<td width="20">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center">
			<table width="640" cellpadding="0" cellspacing="0" border="0" align="center" style="border:2px dashed #ddd; padding:25px; border-top: none;">
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>

				<tr>
					<td width="20">&nbsp;</td>
					<td>
						<p><em>Dear %fname_receiver%</em>,</p>
						<p>This voucher is a gift to you from <strong>%fname_sender% %lname_sender%</strong> that may be put toward any product or treatment from Still Beauty!</p>

						<p>%message%</p>

						<p style="margin: 1em 0; line-height: 2;"><strong>To Redeem</strong></p>
						<p style="margin: 1em 0; line-height: 2;">Visit www.stillbeauty.com.au choose what you'd like to do with your voucher.<br>You can make an online booking request for a treatment, or call Joanna on 0488 416 555.</p>
						<p style="margin: 1em 0; line-height: 2;">To arrange product purchases using this voucher, please call Joanna.</p>
						<p style="margin: 1em 0; line-height: 2;"><strong>Validity</strong></p>
						<p style="margin: 1em 0; line-height: 2;">This voucher remains valid until <strong>%enddate%</strong>.</p>
					</td>
					<td width="20">&nbsp;</td>
				</tr>

				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>

				<tr>
					<td width="20">&nbsp;</td>
					<td>
						<p style="margin: 1em 0; line-height: 2;">From %fname_sender% %lname_sender% / %tel_sender%</p>
						<p style="margin: 1em 0; line-height: 2;">To %fname_receiver% %lname_receiver% / %gender%</p>
						<p style="margin: 1em 0; line-height: 2;">Issued %startdate%</p>
					</td>
					<td width="20">&nbsp;</td>
				</tr>

				<tr>
					<td colspan="3" height="20">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>

	<p>Send to: <strong>%fname% %lname% &lt;%email%&gt;</strong></p>