		<style type="text/css">
		.widefat.transaction td {
			font-weight: bold;
			padding: 8px 32px;
		}
		</style>

		<h3>Voucher details</h3>

		<table class="wp-list-table widefat transaction">
			<tr>

			</tr>

			<tr>
				<th>SENDER</th>
				<th>First name</th>
				<td>%fname_sender%</td>
			</tr>

			<tr>
				<th></th>
				<th>Last name</th>
				<td>%lname_sender%</td>
			</tr>


			<tr>
				<th></th>
				<th>Telephone</th>
				<td>%tel_sender%</td>
			</tr>

			<tr>
				<th></th>
				<th>Email</th>
				<td>%email_sender%</td>
			</tr>

			<tr>
				<th></th>
				<th>Address</th>
				<td>%address_sender%</td>
			</tr>

			<tr>
				<th>RECEIVER</th>
				<th>First name</th>
				<td>%fname_receiver%</td>
			</tr>

			<tr>
				<th></th>
				<th>Last name</th>
				<td>%lname_receiver%</td>
			</tr>

			<tr>
				<th></th>
				<th>Gender</th>
				<td>%gender%</td>
			</tr>

			<tr>
				<th></th>
				<th>Telephone</th>
				<td>%tel_receiver%</td>
			</tr>

			<tr>
				<th></th>
				<th>Email</th>
				<td>%email_receiver%</td>
			</tr>

			<tr>
				<th></th>
				<th>Address</th>
				<td>%address_receiver%</td>
			</tr>

			<tr>
				<th></th>
				<th>Message</th>
				<td>%message%</td>
			</tr>

			<tr>
				<th>VALUE</th>
				<th>$</th>
				<td>%value%</td>
			</tr>

			<tr>
				<th>DELIVERY</th>
				<th>Method</th>
				<td>%delivery% %express_post%</td>
			</tr>

			<tr>
				<th>VALIDITY</th>
				<th>Start</th>
				<td>%startdate%</td>
			</tr>

			<tr>
				<th></th>
				<th>End</th>
				<td>%enddate%</td>
			</tr>		
		</table>



